body {
    font-family: "lmr12", serif;
    font-size: 12pt;
    margin: 1in;
}

h1.masthead {
    font-size: 5em;
}

h1.article-title {
    font-size: 3em;
}

h2.article-subtitle {
    font-size: 1.5em;
}

div.contents h1 {
    font-size: 2em;
}
div.contents h2 {
    font-size: 1.5em;
}

a {
    font-style: italic;
    color: black;
}

a:hover {
    font-style: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}

div.figure {
    width: 6.5in;
    margin: auto;
}